In [1]:
import pandas as pd

In [2]:
from dateutil.parser import parse

def is_date(string, fuzzy=False):
    """
    Return a value indicating whether the string may be understood as a date. .

    :param string: str, string to check for date
    :param fuzzy: bool, if True, ignore any unidentified tokens in the string. 
    """
    try: 
        parse(string, fuzzy=fuzzy)
        return True

    except ValueError:
        return False

In [3]:
# pip install gdown

In [4]:
# # downloading files from google drive
# import gdown
# url = 'https://drive.google.com/uc?id=1qZs7zZQ90w9jtZF4ptMHmgrW0KbqLEU5'
# output = 'WhatsApp Chat with Young Data Professionals.txt'
# gdown.download(url, output, quiet=False)

In [5]:
# downloading files in folders from google drive
import gdown
url = 'https://drive.google.com/drive/folders/1Ik_DZsRcyPwa7hD-LTqwkJbUUsO_U_mM?usp=sharing'
files = gdown.download_folder(url)

Retrieving folder list

Processing file 1qZs7zZQ90w9jtZF4ptMHmgrW0KbqLEU5 WhatsApp Chat with Young Data Professionals (1).txt
Building directory structure completed

Retrieving folder list completed
Building directory structure
Downloading...
From: https://drive.google.com/uc?id=1qZs7zZQ90w9jtZF4ptMHmgrW0KbqLEU5
To: C:\Users\USER\Downloads\YDP\WhatsApp Chat with Young Data Professionals (1).txt
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 3.96M/3.96M [00:03<00:00, 1.02MB/s]
Download completed

In [6]:
def convert_whatsapp_messages_to_list(f):
    """
    To convert WhatsApp messages from a file to a list,
    
    :param f: FileBuffer, FileBuffer with the opened file in read mode
    :return lines: List of WhatsApp Messages in 2 dimensional list
    """
    lines = []
    for line in f.readlines():
        line_list = line.replace("\n","").split(",")
        if is_date(line_list[0]):
            lines.append([line_list[0],("".join(line_list[1:]))])
        else:
            lines[-1][-1] = lines[-1][-1] +' '+ line.replace("\n","")
    return lines

In [7]:
# # Open the file and then call the function to convet the messages to list
# f = open("WhatsApp Chat with Young Data Professionals.txt", encoding = "utf8")
# messages = convert_whatsapp_messages_to_list(f)

In [8]:
# Open the file and then call the function to convet the messages to list
for file in files:
    f = open(file, encoding = "utf8")
    messages = convert_whatsapp_messages_to_list(f)

In [9]:
# change the format to dataframe
messages_df = pd.DataFrame(messages,columns=['date','message'])
messages_df

             date                                            message
0      12/04/2020                              00:51 - Olayinka: Yes
1      12/04/2020   00:51 - +234 812 216 8133: Just as I suspecte...
2      12/04/2020                     00:53 - Yusfat: P-value right?
3      12/04/2020               00:54 - Yusfat: sorry correlation...
4      12/04/2020                     00:58 - +234 818 249 8479 left
...           ...                                                ...
40034  16/02/2022      15:07 - Muhammed: Kindly check your DM biko üëè
40035  16/02/2022                  16:52 - Muhammed: <Media omitted>
40036  16/02/2022   16:53 - Muhammed: Guys who's up for this üëÜ?  ...
40037  16/02/2022   17:08 - +234 703 806 5681: This is a Masters ...
40038  16/02/2022                          17:31 - Muhammed: I guess

[40039 rows x 2 columns]

In [10]:
# Extraction of the DataFrame's Time and Message 
time_msg = messages_df["message"].str.split("-", n = 1, expand = True)
messages_df["time"] = time_msg[0]
messages_df["message"] = time_msg[1]
messages_df.head()

         date                                            message     time
0  12/04/2020                                      Olayinka: Yes   00:51
1  12/04/2020   +234 812 216 8133: Just as I suspected. A pos...   00:51
2  12/04/2020                             Yusfat: P-value right?   00:53
3  12/04/2020                       Yusfat: sorry correlation...   00:54
4  12/04/2020                             +234 818 249 8479 left   00:58

In [11]:
#Extraction of the User Who Posted the Message posted and The Actual Message
user_msg = messages_df["message"].str.split(":", n = 1, expand = True)
messages_df["author"] = user_msg[0]
messages_df["message"] = user_msg[1]
messages_df.head()

,date,message,time,author
0,12/04/2020,Yes,00:51,Olayinka
1,12/04/2020,Just as I suspected. A positive relationship ...,00:51,+234 812 216 8133
2,12/04/2020,P-value right?,00:53,Yusfat
3,12/04/2020,sorry correlation...,00:54,Yusfat
4,12/04/2020,None,00:58,+234 818 249 8479 left

In [12]:
messages_df.describe()

              date           message     time           author
count        40039             39762    40039            40012
unique         666             31062     1438              499
top     01/02/2022   <Media omitted>   19:36    Fabiyi Opeyemi
freq           570              2661       83             5991

In [13]:
messages_df['id'] = range(1, 1+len(messages_df))
messages_df.head()

,date,message,time,author,id
0,12/04/2020,Yes,00:51,Olayinka,1
1,12/04/2020,Just as I suspected. A positive relationship ...,00:51,+234 812 216 8133,2
2,12/04/2020,P-value right?,00:53,Yusfat,3
3,12/04/2020,sorry correlation...,00:54,Yusfat,4
4,12/04/2020,None,00:58,+234 818 249 8479 left,5

In [14]:
messages_df["timestamp"] = (messages_df["date"] +' ' + messages_df["time"])

In [15]:
messages_df = messages_df[["id","date","time","timestamp","author","message"]]

messages_df.head()

,id,date,time,timestamp,author,message
0,1,12/04/2020,00:51,12/04/2020 00:51,Olayinka,Yes
1,2,12/04/2020,00:51,12/04/2020 00:51,+234 812 216 8133,Just as I suspected. A positive relationship ...
2,3,12/04/2020,00:53,12/04/2020 00:53,Yusfat,P-value right?
3,4,12/04/2020,00:54,12/04/2020 00:54,Yusfat,sorry correlation...
4,5,12/04/2020,00:58,12/04/2020 00:58,+234 818 249 8479 left,None

In [16]:
import re

def extract_url(message):
    """
    Regex to Extract URLs from Messages (Stackoverflow Help :smiley:)
    """
    url = r"(http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\\(\\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+)"
    urls_extract = messages_df.message.str.extractall(url)
    url_id = []

    for i in range(0,len(urls_extract)):
    
        add_list = urls_extract.index[[i]][0][0] + 1
    
        url_id.append(add_list)
    urls_extract['id'] = url_id

    urls_extract.head()
    return urls_extract

In [17]:
links = extract_url(messages_df["message"])
links.head()

                                                           0   id
    match
85  0      https://databricks.com/sparkaisummit/north-ame...   86
94  0      https://info.microsoft.com/CE-AzureINFRA-WBNR-...   95
97  0      https://www.myjobmag.com/jobs/microsoft-nigeri...   98
99  0                               https://bit.ly/dsnmlhack  100
310 0                   https://us04web.zoom.us/j/6350982607  311

In [18]:
# merging the daframe containinng the imessages and those containing links
data = pd.merge(messages_df, links, on = "id", how = "inner")
data.head()

,id,date,time,timestamp,author,message,0
0,86,12/04/2020,22:43,12/04/2020 22:43,+234 816 170 8710,Registration is free! This year's summit is v...,https://databricks.com/sparkaisummit/north-ame...
1,95,Tuesday,April 21 2020 13:00,Tuesday April 21 2020 13:00,16,00 Join this free virtual session. To creat...,https://info.microsoft.com/CE-AzureINFRA-WBNR-...
2,98,13/04/2020,16:39,13/04/2020 16:39,+234 813 730 6439,https://www.myjobmag.com/jobs/microsoft-niger...,https://www.myjobmag.com/jobs/microsoft-nigeri...
3,100,13/04/2020,17:17,13/04/2020 17:17,Fabiyi Opeyemi,Win 20GB data and more at DSN Algorithm Chall...,https://bit.ly/dsnmlhack
4,311,14/04/2020,10:51,14/04/2020 10:51,Olayinka,Topic: Julius Abudu's Zoom Meeting Time: Apr ...,https://us04web.zoom.us/j/6350982607

In [19]:
data.columns = ['id', 'date', 'time', 'timestamp','author', 'message', 'url']
data.head()

,id,date,time,timestamp,author,message,url
0,86,12/04/2020,22:43,12/04/2020 22:43,+234 816 170 8710,Registration is free! This year's summit is v...,https://databricks.com/sparkaisummit/north-ame...
1,95,Tuesday,April 21 2020 13:00,Tuesday April 21 2020 13:00,16,00 Join this free virtual session. To creat...,https://info.microsoft.com/CE-AzureINFRA-WBNR-...
2,98,13/04/2020,16:39,13/04/2020 16:39,+234 813 730 6439,https://www.myjobmag.com/jobs/microsoft-niger...,https://www.myjobmag.com/jobs/microsoft-nigeri...
3,100,13/04/2020,17:17,13/04/2020 17:17,Fabiyi Opeyemi,Win 20GB data and more at DSN Algorithm Chall...,https://bit.ly/dsnmlhack
4,311,14/04/2020,10:51,14/04/2020 10:51,Olayinka,Topic: Julius Abudu's Zoom Meeting Time: Apr ...,https://us04web.zoom.us/j/6350982607

In [20]:
# data.to_csv("results.csv")

In [21]:
# search for words and then put those links inside a folder
def search(regex: str, df, case=False):
    """Search all the text columns of `df`, return rows with any matches."""
    textlikes = df.select_dtypes(include=[object, "string"])
    return df[
        textlikes.apply(
            lambda column: column.str.contains(regex, regex=True, case=case, na=False)
        ).any(axis=1)
    ]

# save the message and link to a folder

In [22]:
# data_analytics = search("data analytics", data)
# data_analytics = data_analytics[['url', 'timestamp','message']]
# data_analytics = data_analytics.reset_index()
# data_analytics.drop(columns = "index", inplace = True)
# data_analytics.head()
# data_analytics.to_csv("Data analytics.csv", index=False)

In [23]:
# data_engineering = search("data engineering", data)
# data_engineering = data_engineering[['url','timestamp', 'message']]
# data_engineering = data_engineering.reset_index()
# data_engineering.drop(columns = "index", inplace = True)
# data_engineering.to_csv("Data engineering.csv")

In [24]:
# machine_learning = search("machine learning", data)
# machine_learning = machine_learning[['url','timestamp','message']]
# machine_learning = machine_learning.reset_index()
# machine_learning.drop(columns = "index", inplace = True)
# machine_learning.to_csv("Machine learning.csv")

In [25]:
# finance = search("onyeka", data)
# finance = finance[['url', 'timestamp', 'message']]
# finance = finance.reset_index()
# finance.drop(columns = "index", inplace = True)
# finance.to_csv("Finance.csv")

In [26]:
# data_analysis = search("data analysis", data)
# data_analysis = data_analysis[['url', 'timestamp', 'message']]
# data_analysis = data_analysis.reset_index()
# data_analysis.drop(columns = "index", inplace = True)
# data_analysis.to_csv("Data analysis.csv")

In [27]:
# power_bi = search("powerbi", data)
# power_bi = power_bi[['url','timestamp', 'message']]
# power_bi = power_bi.reset_index()
# power_bi.drop(columns = "index", inplace = True)
# power_bi.to_csv("PowerBi.csv")

In [28]:
# MS_excel = search("excel", data)
# MS_excel = MS_excel[['url','timestamp','message']]
# MS_excel = MS_excel.reset_index()
# MS_excel.drop(columns = "index", inplace = True)
# MS_excel.to_csv("MS excel.csv")

In [29]:
# SQL_file = search("sql", data)
# SQL_file = SQL_file[['url','timestamp', 'message']]
# SQL_file = SQL_file.reset_index()
# SQL_file.drop(columns = "index", inplace = True)
# SQL_file.to_csv("SQL file.csv")